<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheet/style.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>
<body>
    <div>
    <p style="color: rgb(255, 255, 255);position: fixed;margin-top:5%;margin-left: 13%;font-size: 25px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hasnain Karim<br><b>Rabib</b></p>
    <br>
    <br>
    </div>
    <div>
        <br>
    <br>
    <br><img src="/image/rr.png" style="position: fixed;width: 485px;border-radius: 50%;z-index: -1;">
    </div>
    <br>
    <div style="padding-left: 90%;">
        
       <a href="#d1"><button class="btnside"></button></a>
       <br>
       <br>
       <a href="#d2"><button class="btnside"></button></a>
       <br>
       <br>
       <a href="#d3"><button class="btnside"></button></a>
       <br>
       <br>
       <a href="#d4"><button class="btnside"></button></a>
       
    </div>

 
 
    <div class="box">
        
    
        <br>
        <br>
        <h2 style="text-align: center;color: white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">K n o w M E</h2>
        <br>
        <br>
        <br>
        <div id="d1" style="width: 100%;justify-content: center;display: inline-flex;">
            <button id="mb1" class="button" type="submit" onclick="aa(this.id)">| Biography |</button>
            <button id="mb2" class="button" type="submit" onclick="aa(this.id)">| Academics |</button>
            <button id="mb3" class="button" type="submit" onclick="aa(this.id)">| Achievements |</button>

            </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      
        <h2 style="text-align: center;color: white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">P R O J E C T S</h2>
        <br>
        <br>
        <br>
        <br>
        <div id="d2" style="width: 100%;justify-content: center;display: inline-flex;">
       
            <button id="mb4" class="button" type="submit" onclick="aa(this.id)">| Web App |</button>
            
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <button class="btn1">Abiant</button>
      <button class="btn1">Abiant</button>
      <button class="btn1">Abiant</button>
      <button class="btn1">Abiant</button>
      <button class="btn1">Abiant</button>
      <button class="btn1">Abiant</button>
      <button class="btn1">Abiant</button>
      <button class="btn1">Abiant</button>
      <button class="btn1">Abiant</button>
    </div>
  
  </div>
            <button id="mb5" class="button" type="submit" onclick="aa(this.id)">| Android |</button>
            <button id="mb6" class="button" type="submit" onclick="aa(this.id)">| Desktop |</button>

            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2 style="text-align: center;color: white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">W O R K S</h2>
            <br>
            <br>
            <br>
            <div id="d3" style="width: 100%;justify-content: center;display: inline-flex;">
                <button id="mb7" class="button" type="submit" onclick="aa(this.id)">| Design |</button>
                <button id="mb8" class="button" type="submit" onclick="aa(this.id)">| Painting |</button>
                <button id="mb9" class="button" type="submit" onclick="aa(this.id)">| sketch |</button>
  
                </div>
                <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2 style="text-align: center;color: white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">C O N N E C T</h2>
            <br>
            <br>
            <br>
            <div id="d4" style="width: 100%;justify-content: center;display: inline-flex;">
                <button id="mb10" class="button" type="submit" onclick="aa(this.id)">| Social Profiles |</button>
                <button id="mb11" class="button" type="submit" onclick="aa(this.id)">| Email |</button>
                <button id="mb12" class="button" type="submit" onclick="aa(this.id)">| Phone |</button>
  
                </div>
        </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
             <!--  <div>
    <ul class="animate-box">

        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        
    </ul>
    </div>
-->
<div>
    <ul class="animate-box">

        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        
    </ul>
    </div>
    <div>
        <ul class="animate-box2">
    
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            
        </ul>
        </div>
<!-- Trigger/Open The Modal -->


<footer id="foot">
    <br><p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
text-align: center;"><i>"Never give up!"</i></p></footer>
</div>


<script>
    function aa(id){
// Get the modal
var modal = document.getElementById("myModal");

var target = event.target || event.srcElement;

// Get the button that opens the modal
var btn = document.getElementById(id);

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
    }

</script>
</body>
</html>